/* FONTS */
@font-face {
  font-family: diabloFont;
  src: url(fonts/diablo_h.ttf);
}

@font-face {
  font-family: weitalic-semi-bold;
  src: url(fonts/Weitalic-Regular.ttf);
}

body {
  font-family: weitalic-semi-bold;
  color: #cfcfc5;
}

div.frame {
  display: inline-block;
  width: 330px;
  margin: 1px;
  padding: 1px;
  border: 7px solid;
  border-image: url(images/frame.png) 16 repeat;
}

.item-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  overflow-y: auto;
  height: 500px;
  justify-content: space-around;
}

div.item-thumbnail {
  width: 100px;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

div.item-thumbnail img {
  display: inline-block;
  width: 134px;
  height: 134px;
  border: 7px solid;
  border-image: url(images/frame.png) 16 repeat;
}

.collectible-basic-info img {
  display: inline-block;
  width: 240px;
  height: 240px;
  border: 7px solid;
  border-image: url(images/frame.png) 16 repeat;
  margin: 20px;
}
.collectible-basic-info .name {
  color: white;
  font-family: "ChiKareGo2";
  font-size: 25px;
  line-height: 1.1;
  width: 300px;
  margin: 0px;
  text-align: center;
}

.frame[data-tier="Common"] {
  background-image: linear-gradient(to bottom, rgb(35, 35, 35), rgb(9, 9, 9));
}

.frame[data-tier="Magic"] {
  background-image: linear-gradient(to bottom, rgb(24, 33, 62), rgb(9, 9, 9));
}

.frame[data-tier="Note"] {
  background-image: linear-gradient(to bottom, rgb(45, 24, 62), rgb(9, 9, 9));
}

.frame[data-tier="Max"] {
  background-image: linear-gradient(to bottom, rgb(62, 24, 24), rgb(9, 9, 9));
}

.frame[data-tier="Rare"] {
  background-image: linear-gradient(to bottom, rgb(152, 125, 8), rgb(9, 9, 9));
}

.frame[data-tier="Legendary"] {
  background-image: linear-gradient(to bottom, rgb(104, 33, 15), rgb(9, 9, 9));
}

hr.half {
  border: 0;
  margin: initial;
  height: 20px;
  content: url(images/halfline.png);
}

.address {
  text-align: center;
  font-size: 29px;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin: 4px;
}

hr.full {
  border: 0;
  margin: auto;
  content: url(images/fullline.png);
}

/* ITEM NAME AND data-TIER
h1 {
	font-family: diabloFont;
	font-size: 18px;
	max-width: 255px;
} */

.fyvr11mu.fyvr11e4.fyvr11gg.fyvr11fg.fyvr11ew._1qxj1ib9 {
  font-family: diabloFont;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 16px;
  text-align: right;
  margin: 0px;
}

h6 {
  font-family: diabloFont;
}

.name {
  margin-left: 40px;
}

/* LIST OF AFFIXES */
ul {
  list-style-image: url(images/bullet.png);
  margin-left: 30px;
  color: #cfcfc5;
}

li.offensive {
  list-style-image: url(images/sword.png);
}

li.defensive {
  list-style-image: url(images/shield.png);
}

li.socket {
  list-style-image: url(images/socket.png);
  color: #696969;
}

li.legendary {
  list-style-image: url(images/star.png);
  color: #f18606;
}

/* SELL VALUE AND DURABILITY*/
.value:before {
  color: #b69e7a;
  content: "Sell Value: ";
}

.value:after {
  content: url(images/coins.png);
}

.durability:before {
  color: #b69e7a;
  content: "Durability: ";
}

.durability:after {
  content: "/100";
}

.items-container {
  background-repeat: repeat; /* or repeat-y for vertical repeat only */
  background-size: cover;
  background-attachment: scroll;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/011/083/949/original/blue-retrowave-animation-glowing-luminance-laser-background-abstract-technology-horizontal-line-purple-light-glow-galaxy-geometric-internet-80s-style-poster-free-video.jpg);
  background-size: cover;
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
  height: 100vh; /* Optional: Set the height to viewport height for full vertical centering */
  flex-wrap: wrap; /* Optional: If you have multiple items and you want them to wrap */
  padding-bottom: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

.homepage-description {
  font-size: 15px !important;
  width: 220px; /* Set the width of the paragraph */
  text-align: justify; /* Justify text for even alignment on both sides */
  text-justify: inter-word; /* Improve spacing between words */
  margin: 0 auto;
}

h2 {
  margin-left: 40px;
}
