/* .spinner-container {
  position: 'fixed';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  z-index: 1000;
} */

/* 
iframe {
  width: 100%;
  height: 100%;
  border: none;
} */


p.content {
  color: white;
  font-family: 'ChiKareGo2';
  font-size: 25px;
  line-height: 1.1;
}
.play-image {
  margin-top: 13px;
  margin-left: -130px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.play-image-gmail {
  margin-top: 13px;
  margin-left: -75px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}


.play-image-cancel {
  margin-top: 0px;
  margin-left: -90px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.play-image-apple {
  margin-top: 13px;
  margin-left: -75px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}
.play-image-mint {
  margin-top: 13px;
  margin-left: -170px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.play-image-read-build-guide {
  margin-top: 13px;
  margin-left: -194px;
  display: none; /* Initially hide the image */
  position: absolute; /* Position the image absolutely */
  transform: translateY(-50%); /* Adjust vertical centering */
}

span.play-demo,
span.cancel-generation,
span.mint-generation,
span.read-build-guide {
  cursor: pointer;
  position: relative; /* Ensure the parent container is positioned */
}

span.play-demo:hover + .play-image,
span.read-build-guide:hover + .play-image-read-build-guide,
span.cancel-generation:hover + .play-image-cancel,
span.mint-generation:hover + .play-image-mint {
  display: inline-block; /* Show the image on hover */
}

.gmail-login,
.apple-login{ 
  cursor: pointer;
  display: inline-block; /* Show the image on hover */
  /* position: relative; Ensure the parent container is positioned */
}

.play-image-gmail,
.play-image-apple{
  display: inline-block; /* Show the image on hover */
}

.no-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

.login-container {
  width: 100vw;
  display: flex; /* Use flexbox to center align the box */
  justify-content: center; /* Center horizontally */
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'ChiKareGo2', monospace;
  text-align: center;
}

.box-generation{
  position: fixed; /* Fix position relative to the viewport */
  top: 0; /* Start from the top edge of the viewport */
  left: 0; /* Start from the left edge of the viewport */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex; /* Use flexbox to center align the box */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Overlay background */
  z-index: 1000; /* High z-index to ensure it's on top of other content */
  color: white;
  font-family: 'ChiKareGo2', monospace;
}

.title {
  position: absolute;
  margin-top: -135px;
  font-size: 24px; /* Adjust based on actual size needed */
}

.email-login input, .email-login button, .social-login button {
  font-size: 25px;
  margin: 10px 0;
}

.email-login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.email-login button, .social-login button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  color: white;
}

.or-section {
  margin: 25px 0;
  font-size: 16px;
}

.social-login button {
  display: block;
  margin: 5px auto;
  width: 90%;
}

/* Hover effects */
.email-login button:hover, .social-login button:hover {
  background-color: #555;
}

.dashed-box-login-box {
  width: 340px;
  height: 210px;
  background-color: black;
  display: flex; /* Use flexbox to align children side by side */
  justify-content: space-around; /* Space between the child elements */
  align-items: center; /* Center items vertically */
  flex-direction: row; /* Align children horizontally */
  border: 3px dashed #555; /* Adjust border width and color as needed */
  padding: 10px; /* Adjust border width and color as needed */
}


.dashed-greeting-mobile {
  width: 100%;
  min-width: 100px;
  font-size: 10px !important;
  height: 70px;
  background-color: black;
  display: flex; /* Use flexbox to align children side by side */
  justify-content: space-around; /* Space between the child elements */
  align-items: center; /* Center items vertically */
  flex-direction: row; /* Align children horizontally */
  border: 3px dashed #555; /* Adjust border width and color as needed */
  padding: 10px; /* Adjust border width and color as needed */
}

.dashed-greeting {
  width: 100%;
  min-width: 550px;
  max-width: 800px;
  margin: auto;
  height: 70px;
  background-color: black;
  display: flex; /* Use flexbox to align children side by side */
  justify-content: space-around; /* Space between the child elements */
  align-items: center; /* Center items vertically */
  flex-direction: row; /* Align children horizontally */
  border: 3px dashed #555; /* Adjust border width and color as needed */
  padding: 10px; /* Adjust border width and color as needed */
}

.dashed-box-google, .dashed-box-apple {
  margin: 10px;
  margin-top: 70px;
  width: 140px;
  height: 75px;
  display: flex; /* Makes it easier to center text and image inside */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border: 3px dashed #555; /* Adjust border width and color as needed */
  cursor: pointer; /* Makes it clear these are clickable */
}

.logout-button {
  font-family: 'ChiKareGo2';
  font-size: 25px;
  height: 40px;
  background-color: black;
  border: 2px #eee inset;
  border-radius: 0px;
  padding-top: -25px;
  margin: 0;
  padding: 0;
  width: 110px;
}

.send-collectible-button {
  font-family: 'ChiKareGo2';
  font-size: 25px;
  height: 40px;
  border: 1px white solid;
  border-radius: 0px;
  padding: 5px;
  margin: 10px;
  width: 155px;
}

.open-wallet-button {
  font-family: 'ChiKareGo2';
  font-size: 25px;
  height: 100px;
  border: 2px #eee inset;
  background-color: black;
  border-radius: 0px;
  padding-top: -25px;
  margin: 0;
  padding: 0;
  width: 100px;
}

.dashed-box-generation-box{
  width: 340px;
  height: 340px;
  background-color: black;
  display: flex; /* Use flexbox to align children side by side */
  justify-content: center; /* Align items to the center */
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Align children vertically for better control */
  /* border: 2px dashed grey; Styled border */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.progress-container {
  margin: auto;
  width: 80%;
  background-color: #e0e0de;
}

.progress-bar {
  height: 17px;
  border-radius: 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out;
}

.scrollable-list {
  max-height: 40px;
  overflow-y: auto; /* This makes the list scrollable when the content exceeds 150px */
}

.scrollable-wallet{
  width: 500px;
  max-height: 200px;
  overflow-y: auto; /* This makes the list scrollable when the content exceeds 150px */
}

.scrollable-item{
  padding: 40px;
  padding-left: 30px;
  padding-right: 0px;
  width: 230px;
  height: 100px !important;
  max-height: 300px;
  overflow-y: auto; /* This makes the list scrollable when the content exceeds 150px */
}

.transfer-to-address-input {
  height: 25px;
  margin-top: -40px;
  width: 150px;
}

hr {
  /* width: 100px; */
  /* height: 40px; */
  margin-left: 40px !important;
}

.hover-area:hover .hover-content {
  display: block; /* Show the content when hovering over the hover-area */
}