.square {
  position: absolute;
  width: 31px;
  height: 31px;
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 0;
}

.square.visible {
  opacity: 1;
  transition: opacity linear 1s; /* Adjust the transition duration as needed */
}

.square.hidden {
  opacity: 0;
  transition: opacity linear 2s; /* Adjust the transition duration as needed */
}

.grid-app {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
